<!DOCTYPE html>

<html>
  <head>
    <title>Help</title>
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{!-- Way to render a partial in handlebars --}}
      {{>header}}
      <p>{{message}}</p>
    </div>
    {{>footer}}
  </body>
</html>