<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{!-- Way to render a partial in handlebars --}}
      {{>header}}

      <p>Use this site to get your weather!</p>

      <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
      </form>

      <p id="message-one"></p>
      <p id="message-two"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>